{% extends "index.html" %}
{% load static %}
{% block title %} About | Simbi Global Resources LTD {% endblock title %}

{% block content %}
<div class="about">
    <div class="container col-md-6 py-5">
        <h6>Simbi Global Resources Limited is a private company by shares, 
            incorporated under the Companies and Allied Matters Act 1990 by 
            the Corporate Affairs Commission, Abuja on 3rd June, 2014.
        </h6>
        <hr>
        <div class="mt-5">
            <h3>OUR MISSION</h3>
            <ul>
                <li>To engage in using sustainable agricultural methods 
                    (traditional and modern) for the production of healthy 
                    food at affordable prices through integrated extension activities.
                </li>
                <li>
                    To have the competencies for providing seamless and cost 
                    effective logistics solutions; intelligently and accurately 
                    within the time bound.
                </li>
                <li>We take pride in consistently delivering quality results for 
                    all merchandising activities and property development.
                </li>
            </ul>
        </div>
        <hr>
        <div class="mt-5">
            <h3>OUR VISION</h3>
            <ul>
                <li>Focusing on resource synergies to create a niche and have an 
                    edge in the market, both in value, consistency and quality 
                    of services, products and properties.
                </li>
                <li>Continually upgrading the standards of operations and processes; 
                    improving on innovative ways of doing things as well as improving 
                    the quality of properties, products and services with the shortest 
                    period of time possible and therby become a recognized brand.
                </li>
            </ul>        
        </div>
        <hr>
        <div class="mt-5">
            <h3>OUR BELIEVE</h3>
            <ul>
                <li>Creating jobs for our teaming youths.</li>
                <li>Our workforce and customers are our valuable assets.</li>
                <li>A business environment where great innovative ideas are 
                    encouraged and supported.
                </li>
                <li>In integrity, commitment and dedication to our course with 
                    every sense of responsibility.
                </li>
                <li>In being a critical player involved in stimulating economic growth.</li>
                <li>Harmonization of resources for value creation.</li>
            </ul>          
        </div>
    </div> 
</div>
{% endblock content %}